#sjd-subscribe {

    --input-border-colour: hsl(0, 6%, 73%);
    --warning-colour-background: hsl(0, 31%, 90%);
    --warning-colour-text: hsl(0, 31%, 50%);
    --button-colour-background: hsl(118, 39%, 85%);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    .form-field {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .form-field.submit {
        justify-content: flex-end;
    }

    & label {
        width: 80px;
        text-align: right;
    }
    & input {
        width: 280px;
        height: 2rem;
        padding:0.2rem 0.4rem;
        font-size: 1rem;
        border:1px solid var(--input-border-colour);
    }
    
    & input.error {
        background-color: var(--warning-colour-background);
    }

    .form-field.error {
        color: var(--warning-colour-text);
        margin-bottom:1rem;
    }

    & button {
        height: 2rem;
        padding:0.2rem 0.6rem;
        font-size: 1rem;
        margin-top: 1rem;
        display: block;
        float: right;
        cursor: pointer;
        border:1px solid var(--input-border-colour);
        /* background-color: var(--button-colour-background); */
    }

    .sjd-form-advice {
        margin: 0;
    }
}


/* Admin pages */

.wp-toolbar {

    #sjd-notify-subscribers.postbox{
        background-color:rgb(224, 220, 201);
    }

}